{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Home {% endblock %}
{% block body %}
    {{ parent() }}
    <div>
        <h4>Date du jour : {{ 'now'| date('d/m/Y')}}</h4>
    </div>
    <div>
        <h4>Participant : {{app.user.prenom}} {{ app.user.nom }}</h4>
    </div>

    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Sites
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            {%  for site in sites %}
            <li><a class="dropdown-item" href="#">{{ site.nom }}</a></li>
            {% endfor %}
        </ul>
    </div>




    <div class="container">
        <div class="text-center mt-5">
            <h1>Home page</h1>

        </div>
    </div>
{% endblock %}
